node-red/.flows.json.backup
[{"id":"e4c6d76b.cb8168","type":"tab","label":"自动化","disabled":false,"info":""},{"id":"d030c2dd.882a2","type":"server","z":"","name":"Home Assistant"},{"id":"35460847.081ff8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bbb65062.c0c7","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开走廊灯明亮场景","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"xiaomi_miio_set_scene","entityId":"light.doorway_light","data":"{\"scene\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":200,"wires":[[]],"icon":"node-red/light.png"},{"id":"1ab7e5f1.f69a1a","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开走廊灯夜间场景","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"xiaomi_miio_set_scene","entityId":"light.doorway_light","data":"{\"scene\":\"4\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":80,"wires":[[]],"icon":"node-red/light.png"},{"id":"4693f8b7.0efd88","type":"api-call-service","z":"e4c6d76b.cb8168","name":"关闭走廊灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_off","entityId":"light.doorway_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":380,"wires":[[]],"icon":"node-red/light.png"},{"id":"1729b745.4b4fc9","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开厕所灯明亮场景","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_on","entityId":"light.toilet_light","data":"{\"brightness_pct\":\"100\",\"color_temp\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":260,"wires":[[]],"icon":"node-red/light.png"},{"id":"1ad517a1.b18ba8","type":"api-call-service","z":"e4c6d76b.cb8168","name":"关闭厕所灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_off","entityId":"light.toilet_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":320,"wires":[[]],"icon":"node-red/light.png"},{"id":"30ae2abb.2b7f56","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开厕所灯夜间场景","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_on","entityId":"light.toilet_light","data":"{\"brightness_pct\":\"1\",\"color_temp\":\"325\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":140,"wires":[[]],"icon":"node-red/light.png"},{"id":"3ad8d3cc.9fac3c","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开厨房灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":560,"wires":[[]],"icon":"node-red/light.png"},{"id":"499526aa.458dd8","type":"api-call-service","z":"e4c6d76b.cb8168","name":"关闭厨房灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":620,"wires":[[]],"icon":"node-red/light.png"},{"id":"1be3bfdb.79f91","type":"time-range-switch","z":"e4c6d76b.cb8168","name":"白天or夜间","lat":"51.33736","lon":"12.37825","startTime":"00:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":390,"y":200,"wires":[["1ab7e5f1.f69a1a","30ae2abb.2b7f56"],["bbb65062.c0c7","1729b745.4b4fc9"]]},{"id":"d86133f.b5b5ed","type":"delay","z":"e4c6d76b.cb8168","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":360,"wires":[["4693f8b7.0efd88"]]},{"id":"f91eeb7f.e1e7a8","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"卧室门打开","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.door_window_sensor_158d0001b862e7","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":120,"wires":[["1be3bfdb.79f91"],["db9d52b7.01f1"]]},{"id":"d4761068.75127","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"卧室门关闭","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.door_window_sensor_158d0001b862e7","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":240,"wires":[["1ad517a1.b18ba8","4693f8b7.0efd88"],[]]},{"id":"5442c7ec.c6f1a8","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"厨房门打开","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.door_window_sensor_158d0001583bba","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":580,"wires":[["3ad8d3cc.9fac3c"],[]]},{"id":"5d47a50c.cfc59c","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"厨房门关闭","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.door_window_sensor_158d0001583bba","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":700,"wires":[["499526aa.458dd8"],[]]},{"id":"70c7c53d.83d18c","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"走廊两分钟无人","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d00010f84dd","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":300,"wires":[["d86133f.b5b5ed"],["db9d52b7.01f1"]]},{"id":"53f0c142.7d038","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"厨房两分钟无人","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d0001ad49f0","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":640,"wires":[["9158879b.a41e98"],[]]},{"id":"564b5393.4a5bdc","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"走廊有人","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d00010f84dd","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":180,"wires":[["1be3bfdb.79f91"],[]]},{"id":"85ea098e.9ef738","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"厨房有人","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d0001ad49f0","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":520,"wires":[["3ad8d3cc.9fac3c"],[]]},{"id":"9158879b.a41e98","type":"delay","z":"e4c6d76b.cb8168","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":640,"wires":[["499526aa.458dd8"]]},{"id":"7bb85090.eb0ec","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开床头灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_on","entityId":"light.night_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":440,"wires":[[]],"icon":"node-red/light.png"},{"id":"2830680b.249398","type":"api-call-service","z":"e4c6d76b.cb8168","name":"关闭床头灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_off","entityId":"light.night_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":500,"wires":[[]],"icon":"node-red/light.png"},{"id":"47429b32.0e4704","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"起夜","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d0002f98ea9","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":380,"wires":[["a5b8b8e3.858258"],[]]},{"id":"58e79c0a.c583b4","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"回到床上","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d0002f98ea9","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":460,"wires":[["1528f0ae.48fe9f"],[]]},{"id":"c7d2ca0d.c9c928","type":"delay","z":"e4c6d76b.cb8168","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":520,"wires":[["2830680b.249398"]]},{"id":"1528f0ae.48fe9f","type":"api-current-state","z":"e4c6d76b.cb8168","name":"床头灯开启","server":"d030c2dd.882a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.night_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":480,"wires":[["c7d2ca0d.c9c928"],[]]},{"id":"fb602549.6b2bd8","type":"api-current-state","z":"e4c6d76b.cb8168","name":"床头灯关闭","server":"d030c2dd.882a2","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.night_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":440,"wires":[["7bb85090.eb0ec"],[]]},{"id":"a5b8b8e3.858258","type":"time-range-switch","z":"e4c6d76b.cb8168","name":"夜间","lat":"51.33742","lon":"12.37803","startTime":"00:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":270,"y":420,"wires":[["fb602549.6b2bd8"],[]]},{"id":"6d5cce21.e91d1","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"打开大门","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.door_window_sensor_158d0001bf47c1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":60,"wires":[["bbb65062.c0c7"],["db9d52b7.01f1"]]},{"id":"3997ef40.226e9","type":"api-call-service","z":"e4c6d76b.cb8168","name":"切换到Audio in","server":"d030c2dd.882a2","version":1,"service_domain":"media_player","service":"select_source","entityId":"media_player.srs_x99","data":"{\"source\":\"Audio in\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":760,"wires":[[]]},{"id":"be9cb3f0.11b94","type":"trigger-state","z":"e4c6d76b.cb8168","name":"音箱打开","server":"d030c2dd.882a2","entityid":"media_player.srs_x99","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"09vlq1pi4aol","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"2zko027ga0r","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":100,"y":760,"wires":[["3997ef40.226e9"],[]]},{"id":"db9d52b7.01f1","type":"trigger","z":"e4c6d76b.cb8168","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"30","extend":false,"units":"s","reset":"on","bytopic":"all","name":"30秒内无人","x":390,"y":280,"wires":[["4693f8b7.0efd88"]]}]