node-red/flows.json
[{"id":"c392341e.28d2a8","type":"tab","label":"卧室","disabled":false,"info":""},{"id":"e6a2b36d.dc80e","type":"tab","label":"厨房","disabled":false,"info":""},{"id":"a2c1c82e.7e1968","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"df417179.eb308","type":"mqtt-broker","name":"ha-mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e060cb28.b3ce98","type":"server-state-changed","z":"c392341e.28d2a8","name":"大门","server":"a2c1c82e.7e1968","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.home_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":180,"wires":[["7595a0e9.48dcc"]]},{"id":"7595a0e9.48dcc","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":180,"wires":[["7b45aff5.77487"],[]]},{"id":"7b45aff5.77487","type":"api-call-service","z":"c392341e.28d2a8","name":"走廊灯明亮","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"xiaomi_miio","service":"light_set_scene","entityId":"light.doorway_light","data":"{\"scene\":\"1\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":160,"wires":[[]]},{"id":"87dda526.466df8","type":"server-state-changed","z":"c392341e.28d2a8","name":"卧室门","server":"a2c1c82e.7e1968","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":420,"wires":[["7bad4756.13f738"]]},{"id":"5dd6c266.b356bc","type":"server-state-changed","z":"c392341e.28d2a8","name":"走廊动作","server":"a2c1c82e.7e1968","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.doorway_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":240,"wires":[["1c96a4f8.82e32b","afb34611.1636c8"]]},{"id":"1c96a4f8.82e32b","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":240,"wires":[["ad101b9c.941808"],["1c505226.8f47be"]]},{"id":"7bad4756.13f738","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":420,"wires":[["ad101b9c.941808"],["24516ab6.e42dd6","768fdd66.49b754"]]},{"id":"1c505226.8f47be","type":"api-current-state","z":"c392341e.28d2a8","name":"门已关？","server":"a2c1c82e.7e1968","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.bedroom_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":540,"y":300,"wires":[[],["ad3c6262.6eb77"]]},{"id":"275f243f.61e12c","type":"api-current-state","z":"c392341e.28d2a8","name":"是否还有人?","server":"a2c1c82e.7e1968","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.doorway_motion","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":550,"y":380,"wires":[["1c96a4f8.82e32b"],["24516ab6.e42dd6"]]},{"id":"ad101b9c.941808","type":"time-range-switch","z":"c392341e.28d2a8","name":"白天or夜晚","lat":"51.3375","lon":"12.377","startTime":"08:00","endTime":"00:00","startOffset":0,"endOffset":0,"x":550,"y":240,"wires":[["7b45aff5.77487"],["d96899fc.3e9a98"]]},{"id":"91ad489f.acbc88","type":"api-call-service","z":"c392341e.28d2a8","name":"厕所灯明亮","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.toilet_light","data":"{\"brightness_pct\":\"100\",\"kelvin\":\"6500\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":560,"wires":[[]]},{"id":"d96899fc.3e9a98","type":"api-call-service","z":"c392341e.28d2a8","name":"走廊灯夜间","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"xiaomi_miio","service":"light_set_scene","entityId":"light.doorway_light","data":"{\"scene\":\"4\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":220,"wires":[[]]},{"id":"3cc112dd.08c09e","type":"api-call-service","z":"c392341e.28d2a8","name":"厕所灯夜间","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.toilet_light","data":"{\"brightness_pct\":\"10\",\"kelvin\":\"2000\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":620,"wires":[[]]},{"id":"ad3c6262.6eb77","type":"delay","z":"c392341e.28d2a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":300,"wires":[["275f243f.61e12c"]]},{"id":"24516ab6.e42dd6","type":"api-call-service","z":"c392341e.28d2a8","name":"关闭走廊灯","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.doorway_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":400,"wires":[[]]},{"id":"768fdd66.49b754","type":"api-call-service","z":"c392341e.28d2a8","name":"关闭厕所灯","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.toilet_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":460,"wires":[[]]},{"id":"ec6af741.29f718","type":"mqtt in","z":"c392341e.28d2a8","name":"","topic":"zigbee2mqtt/0x00158d0002564da3/action","qos":"2","datatype":"auto","broker":"df417179.eb308","x":200,"y":100,"wires":[["10c71ec5.648a61"]]},{"id":"10c71ec5.648a61","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flip90","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":100,"wires":[["8de4f8b9.b55948"]]},{"id":"8de4f8b9.b55948","type":"api-call-service","z":"c392341e.28d2a8","name":"厨房开关","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.kitchen_socket","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":100,"wires":[[]]},{"id":"bc2c8207.8d447","type":"mqtt in","z":"c392341e.28d2a8","name":"","topic":"zigbee2mqtt/0x00158d0001563f1a/action","qos":"2","datatype":"auto","broker":"df417179.eb308","x":200,"y":40,"wires":[["b46337b9.579d88"]]},{"id":"b46337b9.579d88","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":40,"wires":[["89a3d1aa.a5c84"]]},{"id":"89a3d1aa.a5c84","type":"api-call-service","z":"c392341e.28d2a8","name":"顶灯开关","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.ceiling_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":40,"wires":[[]]},{"id":"afb34611.1636c8","type":"debug","z":"c392341e.28d2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":320,"wires":[]},{"id":"ac99a83.5737058","type":"mqtt in","z":"c392341e.28d2a8","name":"","topic":"zigbee2mqtt/0x00158d0002a8bd26/click","qos":"2","datatype":"auto","broker":"df417179.eb308","nl":false,"rap":true,"rh":0,"x":200,"y":1120,"wires":[["e146cf4a.2e05"]]},{"id":"e146cf4a.2e05","type":"switch","z":"c392341e.28d2a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1120,"wires":[["32711d9.dae64e2"]]},{"id":"32711d9.dae64e2","type":"api-call-service","z":"c392341e.28d2a8","name":"厕所灯明亮","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.toilet_light","data":"{\"brightness_pct\":\"100\",\"kelvin\":\"6500\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":1120,"wires":[[]]},{"id":"d0620ab5.a10fb8","type":"server-state-changed","z":"c392341e.28d2a8","name":"卫生间动作","server":"a2c1c82e.7e1968","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.toilet_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":520,"wires":[["13d40ed0.3a8351"]]},{"id":"b6b4ab63.e04928","type":"server-state-changed","z":"e6a2b36d.dc80e","name":"厨房门","server":"a2c1c82e.7e1968","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":80,"wires":[["1848d41d.1f0fac"]]},{"id":"a0e7d83d.201458","type":"server-state-changed","z":"e6a2b36d.dc80e","name":"厨房动作","server":"a2c1c82e.7e1968","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":140,"wires":[["f08d0535.ff1f68"]]},{"id":"1848d41d.1f0fac","type":"switch","z":"e6a2b36d.dc80e","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["c4c204f9.15e708"],["aeb8e2e4.b6"]]},{"id":"c4c204f9.15e708","type":"api-call-service","z":"e6a2b36d.dc80e","name":"打开厨房灯","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"xiaomi_miio","service":"light_set_scene","entityId":"light.kitchen_light","data":"{\"scene\":\"1\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":140,"wires":[[]]},{"id":"aeb8e2e4.b6","type":"api-call-service","z":"e6a2b36d.dc80e","name":"关闭厨房灯","server":"a2c1c82e.7e1968","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":200,"wires":[[]]},{"id":"f08d0535.ff1f68","type":"switch","z":"e6a2b36d.dc80e","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":140,"wires":[["c4c204f9.15e708"],["baf09fc9.cfbdd"]]},{"id":"baf09fc9.cfbdd","type":"api-current-state","z":"e6a2b36d.dc80e","name":"门已关？","server":"a2c1c82e.7e1968","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.kitchen_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":560,"y":180,"wires":[[],["4361bf72.c6b55"]]},{"id":"40945616.933f98","type":"api-current-state","z":"e6a2b36d.dc80e","name":"是否还有人?","server":"a2c1c82e.7e1968","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.kitchen_motion","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":570,"y":260,"wires":[["f08d0535.ff1f68"],["aeb8e2e4.b6"]]},{"id":"4361bf72.c6b55","type":"delay","z":"e6a2b36d.dc80e","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":180,"wires":[["40945616.933f98"]]},{"id":"13d40ed0.3a8351","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":520,"wires":[["448ae8a0.eb2be8"],[]]},{"id":"448ae8a0.eb2be8","type":"time-range-switch","z":"c392341e.28d2a8","name":"白天or夜晚","lat":"51.3375","lon":"12.377","startTime":"08:00","endTime":"00:00","startOffset":0,"endOffset":0,"x":550,"y":520,"wires":[["91ad489f.acbc88"],["3cc112dd.08c09e"]]}]