node-red/flows.json
[{"id":"e4c6d76b.cb8168","type":"tab","label":"自动化","disabled":false,"info":""},{"id":"d030c2dd.882a2","type":"server","z":"","name":"Home Assistant"},{"id":"35460847.081ff8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4693f8b7.0efd88","type":"api-call-service","z":"e4c6d76b.cb8168","name":"关闭走廊灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_off","entityId":"light.doorway_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":380,"wires":[[]],"icon":"node-red/light.png"},{"id":"1729b745.4b4fc9","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开厕所灯明亮场景","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_on","entityId":"light.toilet_light","data":"{\"brightness_pct\":\"100\",\"color_temp\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":200,"wires":[[]],"icon":"node-red/light.png"},{"id":"1ad517a1.b18ba8","type":"api-call-service","z":"e4c6d76b.cb8168","name":"关闭厕所灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_off","entityId":"light.toilet_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":320,"wires":[[]],"icon":"node-red/light.png"},{"id":"30ae2abb.2b7f56","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开厕所灯夜间场景","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_on","entityId":"light.toilet_light","data":"{\"brightness_pct\":\"1\",\"color_temp\":\"325\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":140,"wires":[[]],"icon":"node-red/light.png"},{"id":"3ad8d3cc.9fac3c","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开厨房灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":720,"wires":[[]],"icon":"node-red/light.png"},{"id":"499526aa.458dd8","type":"api-call-service","z":"e4c6d76b.cb8168","name":"关闭厨房灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":780,"wires":[[]],"icon":"node-red/light.png"},{"id":"1be3bfdb.79f91","type":"time-range-switch","z":"e4c6d76b.cb8168","name":"白天or夜间","lat":"51.33736","lon":"12.37825","startTime":"00:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":390,"y":80,"wires":[["30ae2abb.2b7f56","c7278872.67c648"],["1729b745.4b4fc9","a47f8363.472c7"]]},{"id":"d86133f.b5b5ed","type":"delay","z":"e4c6d76b.cb8168","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":260,"wires":[["4693f8b7.0efd88"]]},{"id":"f91eeb7f.e1e7a8","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"卧室门打开","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.door_window_sensor_158d0001b862e7","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":140,"wires":[["1be3bfdb.79f91"],["db9d52b7.01f1"]]},{"id":"d4761068.75127","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"卧室门关闭","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.door_window_sensor_158d0001b862e7","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":360,"wires":[["1ad517a1.b18ba8","4693f8b7.0efd88"],[]]},{"id":"5442c7ec.c6f1a8","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"厨房门打开","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.door_window_sensor_158d0001583bba","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":720,"wires":[["3ad8d3cc.9fac3c"],[]]},{"id":"5d47a50c.cfc59c","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"厨房门关闭","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.door_window_sensor_158d0001583bba","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":840,"wires":[["499526aa.458dd8"],[]]},{"id":"70c7c53d.83d18c","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"走廊两分钟无人","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d00010f84dd","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":280,"wires":[["d86133f.b5b5ed"],["db9d52b7.01f1"]]},{"id":"564b5393.4a5bdc","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"走廊有人","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d00010f84dd","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":80,"wires":[["1be3bfdb.79f91"],[]]},{"id":"85ea098e.9ef738","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"厨房有人","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d0001ad49f0","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":780,"wires":[["3ad8d3cc.9fac3c","7ecade91.33e91"],["7ecade91.33e91"]]},{"id":"7bb85090.eb0ec","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开床头灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_on","entityId":"light.night_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":540,"wires":[[]],"icon":"node-red/light.png"},{"id":"2830680b.249398","type":"api-call-service","z":"e4c6d76b.cb8168","name":"关闭床头灯","server":"d030c2dd.882a2","version":1,"service_domain":"light","service":"turn_off","entityId":"light.night_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":600,"wires":[[]],"icon":"node-red/light.png"},{"id":"47429b32.0e4704","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"起夜","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d0002f98ea9","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":540,"wires":[["a5b8b8e3.858258"],[]]},{"id":"58e79c0a.c583b4","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"回到床上","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.motion_sensor_158d0002f98ea9","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":600,"wires":[["1528f0ae.48fe9f"],[]]},{"id":"c7d2ca0d.c9c928","type":"delay","z":"e4c6d76b.cb8168","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":600,"wires":[["2830680b.249398"]]},{"id":"1528f0ae.48fe9f","type":"api-current-state","z":"e4c6d76b.cb8168","name":"床头灯开启","server":"d030c2dd.882a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.night_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":600,"wires":[["c7d2ca0d.c9c928"],[]]},{"id":"fb602549.6b2bd8","type":"api-current-state","z":"e4c6d76b.cb8168","name":"床头灯关闭","server":"d030c2dd.882a2","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.night_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":540,"wires":[["7bb85090.eb0ec"],[]]},{"id":"a5b8b8e3.858258","type":"time-range-switch","z":"e4c6d76b.cb8168","name":"夜间","lat":"51.33742","lon":"12.37803","startTime":"00:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":270,"y":540,"wires":[["fb602549.6b2bd8"],[]]},{"id":"6d5cce21.e91d1","type":"server-state-changed","z":"e4c6d76b.cb8168","name":"打开大门","server":"d030c2dd.882a2","version":1,"entityidfilter":"binary_sensor.door_window_sensor_158d0001bf47c1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":200,"wires":[["a47f8363.472c7"],["db9d52b7.01f1"]]},{"id":"db9d52b7.01f1","type":"trigger","z":"e4c6d76b.cb8168","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"30","extend":false,"units":"s","reset":"on","bytopic":"all","name":"30秒内无人","x":370,"y":300,"wires":[["4693f8b7.0efd88"]]},{"id":"7ecade91.33e91","type":"trigger","z":"e4c6d76b.cb8168","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"on","bytopic":"all","name":"延迟5分钟","x":370,"y":780,"wires":[["499526aa.458dd8"]]},{"id":"a47f8363.472c7","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开走廊灯明亮场景","server":"d030c2dd.882a2","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"light_set_scene","entityId":"light.doorway_light","data":"{\"scene\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":260,"wires":[[]],"icon":"node-red/light.svg"},{"id":"c7278872.67c648","type":"api-call-service","z":"e4c6d76b.cb8168","name":"打开走廊灯夜间场景 新","server":"d030c2dd.882a2","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"light_set_scene","entityId":"light.doorway_light","data":"{\"scene\":\"4\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":80,"wires":[[]],"icon":"node-red/light.svg"}]
