node-red/flows.json
[{"id":"c392341e.28d2a8","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"a2c1c82e.7e1968","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"e060cb28.b3ce98","type":"server-state-changed","z":"c392341e.28d2a8","name":"大门","server":"a2c1c82e.7e1968","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.home_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":70,"y":60,"wires":[["7595a0e9.48dcc"]]},{"id":"7595a0e9.48dcc","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":60,"wires":[["7b45aff5.77487"],[]]},{"id":"7b45aff5.77487","type":"api-call-service","z":"c392341e.28d2a8","name":"走廊灯明亮","server":"a2c1c82e.7e1968","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"light_set_scene","entityId":"light.doorway_light","data":"{\"scene\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":40,"wires":[[]]},{"id":"87dda526.466df8","type":"server-state-changed","z":"c392341e.28d2a8","name":"卧室门","server":"a2c1c82e.7e1968","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":70,"y":300,"wires":[["7bad4756.13f738"]]},{"id":"5dd6c266.b356bc","type":"server-state-changed","z":"c392341e.28d2a8","name":"走廊动作","server":"a2c1c82e.7e1968","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.doorway_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":120,"wires":[["1c96a4f8.82e32b"]]},{"id":"1c96a4f8.82e32b","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":120,"wires":[["ad101b9c.941808"],["1c505226.8f47be"]]},{"id":"7bad4756.13f738","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":300,"wires":[["ad101b9c.941808"],["24516ab6.e42dd6","768fdd66.49b754"]]},{"id":"1c505226.8f47be","type":"api-current-state","z":"c392341e.28d2a8","name":"门已关？","server":"a2c1c82e.7e1968","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.bedroom_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":180,"wires":[[],["ad3c6262.6eb77"]]},{"id":"275f243f.61e12c","type":"api-current-state","z":"c392341e.28d2a8","name":"是否还有人?","server":"a2c1c82e.7e1968","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.doorway_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":260,"wires":[["1c96a4f8.82e32b"],["24516ab6.e42dd6"]]},{"id":"ad101b9c.941808","type":"time-range-switch","z":"c392341e.28d2a8","name":"白天or夜晚","lat":"51.3375","lon":"12.377","startTime":"08:00","endTime":"00:00","startOffset":0,"endOffset":0,"x":530,"y":120,"wires":[["7b45aff5.77487","91ad489f.acbc88"],["d96899fc.3e9a98","3cc112dd.08c09e"]]},{"id":"91ad489f.acbc88","type":"api-call-service","z":"c392341e.28d2a8","name":"厕所灯明亮","server":"a2c1c82e.7e1968","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.toilet_light","data":"{\"brightness_pct\":\"100\",\"kelvin\":\"6500\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":100,"wires":[[]]},{"id":"d96899fc.3e9a98","type":"api-call-service","z":"c392341e.28d2a8","name":"走廊灯夜间","server":"a2c1c82e.7e1968","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"light_set_scene","entityId":"light.doorway_light","data":"{\"scene\":\"4\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":180,"wires":[[]]},{"id":"3cc112dd.08c09e","type":"api-call-service","z":"c392341e.28d2a8","name":"厕所灯夜间","server":"a2c1c82e.7e1968","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.toilet_light","data":"{\"brightness_pct\":\"10\",\"kelvin\":\"2000\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":240,"wires":[[]]},{"id":"ad3c6262.6eb77","type":"delay","z":"c392341e.28d2a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":180,"wires":[["275f243f.61e12c"]]},{"id":"24516ab6.e42dd6","type":"api-call-service","z":"c392341e.28d2a8","name":"关闭走廊灯","server":"a2c1c82e.7e1968","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.doorway_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":320,"wires":[[]]},{"id":"768fdd66.49b754","type":"api-call-service","z":"c392341e.28d2a8","name":"关闭厕所灯","server":"a2c1c82e.7e1968","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.toilet_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":380,"wires":[[]]},{"id":"361a6a66.d2d586","type":"server-state-changed","z":"c392341e.28d2a8","name":"厨房门","server":"a2c1c82e.7e1968","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":70,"y":420,"wires":[["53169bd9.b65544"]]},{"id":"37e3c568.70939a","type":"server-state-changed","z":"c392341e.28d2a8","name":"厨房动作","server":"a2c1c82e.7e1968","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":480,"wires":[["2f9b3388.0f1d9c"]]},{"id":"53169bd9.b65544","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":420,"wires":[["62c036d9.f86838"],["f5ce2e55.2768e"]]},{"id":"62c036d9.f86838","type":"api-call-service","z":"c392341e.28d2a8","name":"打开厨房灯","server":"a2c1c82e.7e1968","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"light_set_scene","entityId":"light.kitchen_light","data":"{\"scene\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":480,"wires":[[]]},{"id":"f5ce2e55.2768e","type":"api-call-service","z":"c392341e.28d2a8","name":"关闭厨房灯","server":"a2c1c82e.7e1968","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":540,"wires":[[]]},{"id":"2f9b3388.0f1d9c","type":"switch","z":"c392341e.28d2a8","name":"状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":480,"wires":[["62c036d9.f86838"],["38048d4d.e71772"]]},{"id":"38048d4d.e71772","type":"api-current-state","z":"c392341e.28d2a8","name":"门已关？","server":"a2c1c82e.7e1968","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.kitchen_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":520,"wires":[[],["e9e4a55b.c6d198"]]},{"id":"e23354e7.266898","type":"api-current-state","z":"c392341e.28d2a8","name":"是否还有人?","server":"a2c1c82e.7e1968","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.kitchen_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":600,"wires":[["38048d4d.e71772"],["f5ce2e55.2768e"]]},{"id":"e9e4a55b.c6d198","type":"delay","z":"c392341e.28d2a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":520,"wires":[["e23354e7.266898"]]}]
